# Timezone / user mapping
TZ=Europe/Madrid
PUID=1000
PGID=1000

# Postgres for n8n
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
POSTGRES_DB_N8N=n8n

# n8n
N8N_ENCRYPTION_KEY=replace_with_a_long_random_key
N8N_HOST=example.tailnet.ts.net
N8N_PROTOCOL=https
N8N_PORT=5678
N8N_PATH=/n8n/
WEBHOOK_URL=https://example.tailnet.ts.net/n8n/
N8N_EDITOR_BASE_URL=https://example.tailnet.ts.net/n8n/

# Pi-hole
PIHOLE_WEBPASSWORD=change_me

# Minecraft
MINECRAFT_VERSION=1.21.11
MINECRAFT_MEMORY=4G
